@keyframes animationModal {
    0%{transform: translateY(-40%);}
}
/* main_admin*/
#main_admin{
    height: 100vh;
}
/* darkMde */
.main_light, .table_light{
    background-color: rgb(234, 238, 255);
    color: black;
}

/* navegacao de configuracoes */
#configuracoes{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/* configButton */
#configButton{
    background-color: rgb(59, 58, 58);
    color: white;
    opacity: 0.9;
    height: 30px;
    width: 120px;
    text-align: center;
}

/* buttons */
#openModal{
    width: 120px;
    height: 30px;
    font-weight: normal;
    background-color: rgb(74, 118, 205);
    color: white;
}

#logoutUser{
    width: 120px;
    height: 30px;
    font-weight: normal;
    color: white;
    background-color: rgb(200, 76, 76);
}


/* table */
#container_table{
    display: flex;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

table{
    border-collapse: collapse;
    width: 85vw;
    height: 0vh;
}

th, td{
    border: 1px solid rgb(219, 219, 219);

    height: 45px;
    text-align: center;
}

.btn-delete{
    background-color: rgb(199, 76, 76);
    width: 70px;
    height: 25px;
    font-weight: normal;
    margin-left: 5px;
}
.btn-edit{
    background-color: rgb(76, 199, 111);
    width: 70px;
    height: 25px;
    font-weight: normal;
    margin-right: 5px;
}
/* modal de cadastro */
.modal{
    border: 1px solid black;
    border-radius: 3px;

    background-color: rgb(40, 40, 40);
    color: white;

    padding: 10px;

    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;

    grid-template-areas: 
    'nome idade'
    'email telefone';

    position: absolute;
    top: 20%;

    animation-name: animationModal;
    animation-duration: 0.7s;
}

/* input */
.modal > div > input{
    display: block;

    height: 20px;

    padding-left: 5px;
    margin-top: 5px;

    border: 2px solid black;
    border-radius: 3px;
    
    background-color: rgba(89, 89, 211, 0.438);
    color: white;
    
}

/* divs do formulario */

.campo_nome{
    grid-area: nome;
}

.campo_idade{
    grid-area: idade;
}

.campo_telefone{
    grid-area: telefone;
}

.campo_email{
    grid-area: email;
}

/* button incluir*/
#btn-incluir{
    width: 80px;
    background-color: rgb(100, 100, 190);
}
#btn-editar{
    background-color: rgb(44, 170, 99);
    width: 80px;
}

@media screen and (max-width:950px){
    #main_admin{
        display: block;
    }
}

@media screen and (max-width:720px){
    #main_admin{
        height: auto;
    }

    #container_table {
        width: 100%;
        padding: 0;
        height: 100%;
    }

    table > thead {
        display: none;
    }

    table > tbody{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .linha{
        background-color: rgba(32, 29, 76, 0.721);
        padding: 20px;
        border-radius: 5px;
    }

    table > tbody > tr > td{
        border: 0px;
        display: flex;
    }

    table > tbody > tr > td::before{
        content: attr(data-table);
        margin-left: 10px;
    }
}

@media screen and (max-width:420px){
    .modal{
        flex-direction: column;
    }
}