.lightModeHeader{
    background-color: #e9e8e8
}

header{
    background-color: rgb(30 41 59);
    width: 13vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
    padding: 20px 0px;

}

#imgPerfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#imgPerfil > input{
    display: none;
}

#userImg{
    clip-path: circle(50%);
    width: 100px;
    height: 100px;
    object-fit: cover;
    filter: brightness(110%);
}
#menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
}

#menuHamburguer{
    display: none;
}

#menu-bt-mobile{
    display: none;
}

@media screen and (max-width:1024px){
    header{
      flex-direction: row;
      width: 100vw;
      padding: 20px;
      height: 15vh;
    }
  
    #imgPerfil{
        flex-direction: row;
    }

    #menu{
        height: 4.3vh;
        flex-direction: row;
        width: 100vw;
    }

    #configuracoes{
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
}

@media screen and (max-width:640px){
    header{
        justify-content: center;
    }
    
    #menu{
        display: none;
    }

    #menu-bt-mobile{
        display: block;
        width: 40px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


#content-menu-mobile{
    background-color: rgba(36, 36, 36, 0.637);
    width: 80vw;
    height: 35vh;
    border-radius: 3px;
    position: absolute;
    top: 4.5rem;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}