#main_config{
    height: 100vh;
}

#container_config{
    width: 87vw;
}

#config_navigation{
    padding: 0px 5px;
}

/* vetor */
#imgVetor{
    cursor: pointer;
    background-color: rgb(25, 24, 24);
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

/* titulo da pagina */
.titleConfig{
    background-color: rgba(93, 84, 177, 0.995);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 600;
    padding: 2px 10px;
    margin: 10px 10px;
    border-radius: 5px;
}

/* Container delete */
#container_delete{
    height: calc(40vh - 52px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* div dos inputs */
.campos_form_config{
    margin: 20px 0px;
}

/* label */
.campos_form_config > label{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

/* inputs */
.campos_form_config > input{
    background-color: rgba(51, 47, 47, 0.951);
    display: block;
    margin-top: 10px;
    cursor: not-allowed;
    padding: 3px 10px;
    border-radius: 5px;
    width: 220px;
    color: white;
}

#container_delete > form > button{
    margin-top: 5px;
    background-color: rgb(232, 95, 95);
}

@media screen and (max-width:950px){
  #main_config{
    display: block;
  }

  #container_config{
    width: 100vw;
  }
}