*{
  padding: 0;
  margin: 0;
}

header{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 20px 0px;
}
body{
  background-color: #3682B3;
}

#container_admin{
  display: grid;
}