@keyframes animationModal {
    0%{transform: translateY(-40%);}
}
/* main_admin*/
.main_admin{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(15 23 42);
}

/* lightMode */
.main_light {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: #fafafa;
    color: black;
}

/* colorSeachForm */
.colorSeachInput{
    color: black;
}

.colorSeachInputefault{
    color: white;
}

/* Taable lightMode */
.table_light{
    background-color: #fafafa;
    color: black;
}

.table_light > thead > tr > th{
    border: 1px solid black;
}

.table_light > thead > tr > .chamado{
    border:none
}

.table_light > tbody > tr > td{
    border: 1px solid black;
}

/* Container table lightMode and Default Mode */
.container_table_light{
    background-color: #fafafa;
}

.container_table_default{
    background-color: rgb(15 23 42);
}

/* navegacao de configuracoes */
#configuracoes{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/* configButton */
.configButton{
    background-color: rgb(59, 58, 58);
    color: white;
    opacity: 0.9;
    height: 30px;
    width: 120px;
    text-align: center;
}

.configButtonMobile{
    background-color: rgb(59, 58, 58);
    color: white;
    opacity: 0.9;
    height: 30px;
    width: 120px;
    text-align: center;
}

.configButtonMobile > a{
    color: white;
    font-weight: bold;
}
/* buttons */
.openModal{
    width: 120px;
    height: 30px;
    font-weight: bold;
    background-color: rgb(74, 118, 205);
    color: white;
}

.logoutUser{
    width: 120px;
    height: 30px;
    font-weight: bold;
    color: white;
    background-color: rgb(200, 76, 76);
}


/* table */
#container_table{
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

#container_table::-webkit-scrollbar{
    display: none;
}

tbody::-webkit-scrollbar{
    display: none;
}

#formFilter{
    width: 85vw;
    margin: 0.5rem 0 1.25rem 0;
    display: flex;
    gap: 0.25rem;
    background-color: transparent;
    outline: none;
    border: 1px;
    color: white;
}

#formFilter > input{
    width: 100%;
    border-radius: 5px;
    padding: 0.25rem 0.25rem 0.25rem 0.50rem;
    background-color: transparent;
    border: 1px solid white;
}

table{
    border-collapse: collapse;
    width: 85vw;
    height: 0vh;
    color: white;
}

th, td{
    border: 1px solid rgb(219, 219, 219);

    height: 45px;
    text-align: center;
}

.chamado{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}

.chamadoForLightMode{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
}

.btn-delete{
    background-color: rgb(199, 76, 76);
    width: 70px;
    height: 25px;
    font-weight: bold;
}
.btn-edit{
    background-color: rgb(76, 199, 111);
    width: 70px;
    height: 25px;
    font-weight: normal;
}
/* modal de cadastro */
.modal{
    border: 1px solid black;
    border-radius: 3px;

    background-color: rgb(40, 40, 40);
    color: white;

    padding: 10px;

    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;

    grid-template-areas: 
    'nome idade'
    'email telefone';

    position: absolute;
    top: 20%;

    animation-name: animationModal;
    animation-duration: 0.7s;
}

/* input */
.modal > div > input{
    display: block;

    height: 20px;

    padding-left: 5px;
    margin-top: 5px;

    border: 2px solid black;
    border-radius: 3px;
    
    background-color: rgba(89, 89, 211, 0.438);
    color: white;
    
}

/* divs do formulario */

.campo_nome{
    grid-area: nome;
}

.campo_idade{
    grid-area: idade;
}

.campo_telefone{
    grid-area: telefone;
}

.campo_email{
    grid-area: email;
}

/* button incluir*/
#btn-incluir{
    width: 80px;
    background-color: rgb(100, 100, 190);
}
#btn-editar{
    background-color: rgb(44, 170, 99);
    width: 80px;
}

@media screen and (max-width:1024px){
    .main_admin{
        display: block;
    }

    .main_light{
        display: block;
    }

    #container_table {
        width: 100%;
        padding: 0;
        height: auto;
    }
}

@media screen and (max-width:768px){

    table > thead {
        display: none;
    }

    table > tbody{
        overflow: scroll;
        height: 70vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .linha{
        background-color: rgba(32, 29, 76, 0.721);
        padding: 20px;
        border-radius: 5px;
    }

    .table_light > tbody > .linha{
        background-color: rgba(16, 7, 149, 0.363)
    }

    table > tbody > tr > td{
        border: 0px;
        display: flex;
    }

    .table_light > tbody > tr > td{
        border: 0px;
        display: flex;
    }

    table > tbody > tr > td::before{
        content: attr(data-table);
        margin-left: 10px;
    }
}

@media screen and (max-width:420px){
    .modal{
        display: flex;
        flex-direction: column;
    }
}